<footer>
  <h1>Company</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas expedita fugiat totam aliquid! Fugiat atqu
    consequatur eligendi, nisi fugit beatae harum aspernatur recusandae ullam inventore praesentium rerum cu doloribus.
  </p>
</footer>