<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpack workflow</title>
</head>

<body>

  {{> partials/navigation}}

  <h1>Webpack, sass & Templete engine</h1>
  <img src="static/img/imagen1.jpg" alt="Saint Seiya">

  {{> partials/footer}}
</body>

</html>